.navbar-brand{
    height: 80px;
}
.navbar-nav  .nav-link{ 
    text-transform: uppercase;
      
}

/* .carousel-inner .carousel-item{
    width: 100%; 
    height: 110vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center ;
}
 */

.card-deck img{
    height: 183px;
    background-size: cover;
    background-repeat: no-repeat;

}

.iframe{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* Ration calculation: 16 : 9 (100% / 16*9 = 56.25) */

}

.iframe >* {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    height: 100%;
    width: 100%;
}